.div-con {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  background-color: rgb(161, 233, 250);
  flex-wrap: wrap;
  text-align: center;
  border-radius: 25px;
}

button {
  width: 130px;
  height: 30px;
  background-color: rgb(4, 0, 255);
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 100px;
  padding: 5px 15px 5px 15px;
  color: aliceblue;
  position: inherit;
}

.floor {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  width: 30%;
  font-weight: bold;
}

.right {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.right-t {
}

.right-t {
  margin: 10px;
}
